In [3]:
import pandas as pd
import numpy as np

In [4]:
f = ['FB', '2001-08-02', 90, 3.2]
f = pd.Series(f, index = ['name', 'date', 'shares', 'price'])
f

name              FB
date      2001-08-02
shares            90
price            3.2
dtype: object

In [2]:
data = { 'name' : ['AA', 'IBM', 'GOOG'],
       'date' : ['2001-12-01', '2012-02-10', '2010-04-09'],
       'shares' : [100, 30, 90],
       'price' : [12.3, 10.3, 32.2]
 }
df = pd.DataFrame(data)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   name        date  shares  price
0    AA  2001-12-01     100   12.3
1   IBM  2012-02-10      30   10.3
2  GOOG  2010-04-09      90   32.2